/* FIRST SECTION STARTS HERE */
.inner-one{
    padding: 100px 0;
    
}
/* FIRST SECTION ENDS HERE */

/* SECOND SECTION STARTS HERE */

.news-container{
    max-width: 60%;
    margin: 0 auto 100px;
}
.inner-two .member{
    width: 60%;
}
.inner-two h2{
    font-size: 4rem;
    font-weight: 600;
    color: #1D3444;
    line-height: 70px;
    margin-top: 24px;

}
.inner-two h3{
    font-size: 3rem;
    font-weight: 600;
    color:#1D3444;
    line-height: 56px;
    
}
.inner-two p{
    color: #5B5B5B;
}
/* SECONDS SECTION ENDS HERE */

