/* FIRST SECTION STARTS HERE */
.career-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}
.words-here{
    width:45%;
}
.big-word{
    font-size: 4rem;
    color: #1D3444;
    line-height: 70px;
    font-weight: 600;
}
.small-word{
    font-size: 1.125rem;
    color: #5B5B5B;
}
.more-word a{
    color: white;
}
.more-word{
    
    background: #F58A07;
    border-radius: 32px;
    width: 170px;
    padding: 15px;
    text-align: center;
}
/* FIRST SECTION ENDS HERE */
/* SECOND SECTION STARTS HERE */
.career-two{
    margin: 100px 0;
    width: 100%;
}
.career-two h2{
    font-size: 3rem;
    color: #1D3444;
}
.tables{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}
.table{
    background: #C1E4FF4D;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 32px 40px;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
  
}


.big-tab{
    font-size: 1.5rem;
    color: #0D1317;
    margin: 0;
}
.small-tab{
    font-size: 1.125rem;
    color: #5B5B5B;
    margin: 0 0 32px 0;
    
}
.apply{
    color:#F58A07;
    font-weight: 400;
}
/* SECOND SECTION ENDS HERE */