/* FIRST SECTION STARTS HERE */
.body .one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}

.one-text {
    width: 45%;
}


.one-text .main-text {
    font-size: 4rem;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -2px;
    color: #1D3444;
    margin: 30px 0;
    
}

.one-text .sub-text {
    font-size: 1.125rem;
    color: #5B5B5B;
}

.one-text .next {
    background-color: #F58A07;
    border-radius: 35px;
    width: 170px;
    padding: 20px;
    text-align: center;
}

.one-text .next a {
    color: white;
    text-align: center;
}

/* FIRST SECTION ENDS HERE */
/* SECOND SECTION STARTS HERE */
.body .two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}
.square{
    position: absolute;
    opacity: 0.7;
}
.photo-here2 .square{
    left: -45px;
    top: 128px;
}
.photo-here2{
    background: url(../img/images/image-cope.png), no-repeat;
    width: 620px;
    height: 550px;
    position: relative;
    
}

.two-text {
    width: 45%;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    color: #1D3444;

}

.para {
    font-size: 1.125rem;
    color: #5B5B5B;
}

.body ul li {
    list-style-type: disc;
    color: #5B5B5B;
    margin: 10px;
    
}
.body ul{
    padding: 0 0 0 15px;

}

/* SECOND SECTION ENDS HERE */
/* THIRD SECTION STARTS HERES */
.body .three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}
.three-text{
    width: 45%;
}
 .three .square{
    right: -45px;
    top: 272px;
 }
.three .photo-here3{
    width: 620px;
    height: 550px;
    background: url(../img/images/Image\ \(1\)\ copy.png);
    position: relative;
}
/* THIRD SECTION ENDS HERE */
/* FOURTH SECTION STARTS HERE */
.body .four{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}
.four-text{
    width: 45%;
}
.four .square{
    left:-45px;
    top: 217px;

}
.photo-here4{
   width: 620px;
   height:550px;
   background: url(../img/images/Image\ \(2\)\ copy.png);
   position: relative;
}
/* FOURTH SECTION ENDS HERE */
/* FIFTH SECTION STARTS HERE */
.body .five{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0;
    width: 100%;
}
.five-text{
    width:45%;
}
.five .square{
    right: -45px;
    top: 272px;
}
.five .photo-here5{
    width: 620px;
    height:550px;
    background: url(../img/images/Image\ \(3\)\ copy.png);
    position: relative;
}
/* FIFTH SECTION ENDS HERE */
/* SIXTH SECTION STARTS HERE */
.body .six{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}
.six-text{
    width: 45%;
}
.six .square{
    left:-45px;
    top:342px;
}
.six .photo-here6{
    width: 620px;
    height:550px;
    background: url(../img/images/Image\ \(4\).png);
    position: relative;
}
/* SIXTH SECTION ENDS HERE */