/* FIRST SECTION STARTS HERE */
.contact-one {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;

}

.left-contact {
    width: 45%;
    flex-direction: column;
    display: flex;
    align-items: start;
}

.left-contact h2 {
    font-size: 3rem;
    color: #1D3444;
    margin: 24px 0;
}

.contact-one p {
    color: #5B5B5B;
    font-size: 1.125rem;
}

.contact-one .about {
    display: flex;
    justify-content: space-between;
    width: 45%;

}

.about .middle-contact {
    width: 50%;
}
.about .right-contact{
    width: 40%;
}
.contact-two .map {
    width: 45%;
}

.contact-one .bold-title {
    font-size: 1.5rem;
    color: #0D1317;
}

.contact-one ul {
    padding: 0;
}

.contact-one ul li {
    color: #5B5B5B;
}

/* FIRST SECTION ENDS HERE */

/* SECONDS SECTION STARTS HERE */

.contact-two {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;


}

.contact-two .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.contact-two input {
    width: 630px;
    height: 50px;
    border-radius: 32px;
    background: #D2DAED2B;
    color: #9C9C9C;
    padding-left: 15px;
    border: 1px solid #D2DAED2B;
}

.contact-two .message {
    height: 160px;
}

.submit-button {
    background-color: #F58A07;
    border-radius: 32px;
    width: 160px;
    padding: 15px;
    text-align: center;
    margin: 30px 0;
}

.submit-button a {
    color: white;
}


/* SECONDS SECTION ENDS HERE */