/* HEADER ENDS HERE */
/* FIRST SECTION STARTS HERE */
.first {
    background-color: #DCEAF5;
}

.first .text {
    width: 100%;
    display: flex;
    /* height: 50vw; */
    justify-content: space-between;

}

.first .lefttext {
    width: 60%;
    align-self: center;
}

.first h2 {
    color: #1D3444;
    font-size: 4rem;
    line-height: 70px;
    width:600px;
    font-weight: 600;
    margin: 40px 0;

}

.first p {
    color: #5B5B5B;
    font-size: 1.125rem;
    line-height: 30px;
}

.first .anchor {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    font-weight: 600;
}

.first .sbutton {
    padding: 15px;
    color: white;
    background: #F58A07;
    border-radius: 35px;
    width: 200px;
    text-align: center;
}

.first a {
    text-decoration: none;
}

.first .all {
    color: #1D3444;

}

.first .anch {
    color: #39414980;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 40px;
}

.first .icons {
    display: flex;
    justify-content: space-between;
}

/* FIRST SECTION ENDS */
/* SECOND SECTION STARTS HERE */
.second {
    margin: 100px 0;
}

.second .maintext {
    font-size: 3rem;
    font-weight: 600;
    width: 60%;
    color: #1D3444;
}

.second .subtext {
    font-size: 1.125rem;
    width: 60%;
    color: #5B5B5B;
    margin-bottom: 50px;
}

.second .post {
    display: flex;
    justify-content: space-between;
}

.second .ig {
    width: 400px;
}

.second img {
    width: 400px;
    height: 250px;
    border-radius: 10%;
}

.second .bold {
    color: #0D1317;
    font-size: 1.5rem;
    font-style: bold;
}

.second p {
    color: #5B5B5B;
}

.second .readmore {
    color: #F58A07;
    font-size: 20px;
}

.second .readmore::after {
    content: "\2192";
}
/* SECOND SECTION ENDS HERE */
/* THIRD SECTION STARTS HERE */
.third {
    background-color: #DCEAF5;
    margin: 100px 0;
    padding: 100px 0;

}

.third .thirdtext {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.thirdtext p {
    width: 50%;
    margin: 0;
}

.thirdtext p:first-child {
    font-size: 2rem;
    font-weight: 600;
    color: #0D1317;
    width: 45%;
}

.thirdtext p:last-child {
    font-size: 1.125rem;
    color: #1D3444;
    line-height: 40px;
}

.third .bold {
    color: #0D1317;
    font-weight: 600;
    font-size: 1.5rem;
    font-style: bold;
}

.third .img {
    width: 33px;
    height: 34px;
}

.third .feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    width: 100%;
    margin: 40px 0;
}

.feature .char {
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;

}

.feature div {
    width: 400px;
    height: 270px;
}

/* THIRD SECTION ENDS HERE */
/* FOURTH SECTION STARTS HERE */
.fourth {
    margin: 100px 0;
}

.fourth .about-image{
    background: url(./img/images/about-img.png) no-repeat;
    width:50%;
    border-radius: 20px;
   
}
.fourth .fourthleft {
    width: 45%;

}

.fourth .middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fourth .fourthmain {
    font-size: 3rem;
    font-weight: 600;
    color: #0D1317;
    line-height: 60px;
    width: 100%;
    letter-spacing: -2px;
}

.fourth .fourthside {
    font-size: 1.125rem;
    color: #5B5B5B;
    width: 85%;
}

.fourth .block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fourth .number{
    width: 45%;
}

.fourth .orange {
    font-size: 2rem;
    font-weight: 700;
    color: #F58A07;
}

.fourth .bold {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: bold;
}

.fourth .small {
    color: #5B5B5B;
}

/* FOURTH SECTION ENDS HERE */
/* FIFTH SECTION STARTS HERE */
.fifth {
    margin: 100px 0;
}
.fifth .team .ribbon {
    width: 180px;
    height: 180px;
    position: absolute;
    top: -15px;
    right: -15px;
    
}
.fifth .team{
    position: relative;
    background-color: white;
}

.fifth .between{
    background-color: #EDF7FF;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 45px;
}

.fifth .tab{
    font-weight: 600;
}

.fifth .service-tab ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    width: 600px;
    margin-bottom: 70px;
}

.fifth .service-tab ul li a {
    text-decoration: none;
    color: #A8BCCC;
}

.fifth .service-tab ul li {
    list-style: none;
    border: 2px solid #A8BCCC;
    border-radius: 25px;
    padding: 5px 15px;
}

.fifth .service-tab ul li:hover,
.service-tab ul li:focus {
    border: 2px solid white;
    background-color: white;
}

.fifth .service-tab ul li a:hover,
.service-tab ul li a:focus {
    color: #F58A07;
}

.fifth .below{
    display: flex;
    justify-content: space-between;
}
.fifth .text-here{
    width: 50%;
}
.img-here .team-img {
    width: 450px;
    height:450px;
}
.fifth .fifthmain {
    font-size: 3rem;
    font-weight: 600;
    line-height: 60px;
    margin-top: 0;
}

.fifth .fifthsub {
    font-size: 1.125rem;
    color: #5B5B5B;
}
.fifth .readmore{
    margin: 30px 0;
}
.fifth .readmore a {
    text-decoration: none;
    color: #F58A07;
}

.fifth .readmore::after {
    content: "\2192";
    color: #F58A07;
}

/*FIFTH SECTION ENDS HERE  */
/* SIXTH SECTION STARTS HERE */
.sixth {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60vh;
    margin: 100px 0;
}

.bw {
    /* background-image: url(./img/images/experience-image.png); */
    width: 50%;
    background-size: cover;
    
}

.sixthright {
    width: 50%;
    background-color: #F58A07;
    padding:80px;
   
}

.sixthright .sixthmain {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: justify;
    width: 60%;
    letter-spacing: -1px;
    line-height: 60px;

}

.sixth .seemore {
    text-decoration: none;
    color: #F58A07;
    font-weight: 600;
    border-radius: 35px;
    width: 220px;
    height: 55px;
    background: white;
    padding: 20px;
    text-align: center;
}

/* SIXTH SECTION ENDS HERE */
/* SEVENTH SECTION STARTS HERE */
.seventh{
    margin: 100px 0;
}
.seventh .video{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.seventh .seventhleft{
    width:45%;
}
.seventh .sevenmain{
    font-size: 3rem;
    font-weight: 600;
    line-height: 50px;
}
.seventh .sevensub{
    font-size: 1.125rem;
    color: #5B5B5B;
}
.seventh .person{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 50px 0;
}
.seventh .pro{
    width: 80px;
    height:80px;
}
.seventh .intro{
    margin-left: 20px;
    width: 50%;
}
.seventh .name{
    font-size: 1.5rem;
    color: #063255;
    margin:0;
}
.seventh .title{
    font-size: 1.125rem;
    color: #F58A07;
    margin: 0;
}
.seventh .video-img{
    width: 50%;
    background: url(./img/images/video-image.png) no-repeat;
}
.seventh .video-img .playbutton{
    border-radius: 50%;
    background-color: white;
    width:50px;
    height:50px;
    position: relative;
}
.seventh .layer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
   
}
.seventh .layer p{
    color: white;
    font-size: 1.125rem;
    position: relative;
}
.seventh .layer .playbutton .tri{
    position: absolute;

}
/* SEVENTH SECTION ENDS HERE */
/* EIGHT SECTION STARTS HERE */
.eight{
    background-color: #DCEAF5;
    padding: 90px 0;
    

}
.eight .big-article{
    display:flex;
    justify-content: space-between;

}
.art{
    background-color: white;
    border-radius: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.eight .big-article img{
    width:400px;
    border-radius: 25px 25px 0 0;
}
.eight h3{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0;
}
.eight .bold-art{
    font-size: 1.5rem;
}
.eight .small-art{
    color:#5B5B5B;
}
.eight .learn-more{
    color: #F58A07;
}
.eight .learn-more::after {
    content: "\2192";
}
.eight .text{
    padding: 10px 30px;
}
/* EIGHT SECTION ENDS HERE */